body {
	display: grid;
	height: 100%;
	text-align: left;
	/*background: #664AFF;*/
}

.Form input[type="range"] {
  position: relative;
  width: 30%;
}

.Form input[type="range"]::after{
	transform: translateX(100px);
	content: attr(max);
}

